<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/medicalcamp"></ion-back-button>
      <p><b>Mental Health </b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="borderstudentlist">
      <h3 class="textaligncenter fontsize15px"><u>Student Information</u></h3>
      <ion-row>
        <ion-col col-6> <p class="studentlist">Name/Id:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{firstname}} {{lastname}}/{{id}}</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><p class="studentlist">Class/Roll No/ Div:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{studentclass}}/{{studentrollno}}/{{studentdiv}}</p></ion-col>
      </ion-row>
    </div>
    <ion-list padding>
      <form [formGroup]="MentalForm" >
         <p class="textaligncenter">Question And Answer</p>
        <ion-item >
          <ion-label  position="stacked">Q.1) General Intelligence:-</ion-label>
          <ion-radio-group value="Average" formControlName="ansdetailQ135">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Average"></ion-radio><span class="fontsize12px">Average</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Belowavg "></ion-radio><span class="fontsize12px">Below Avg</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Aboveavg"></ion-radio><span class="fontsize12px">Above Avg</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.2) Non Verbal Intelligence:-</ion-label>
          <ion-radio-group value="Average" formControlName="ansdetailQ136">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Average"></ion-radio><span class="fontsize12px">Average</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Belowavg "></ion-radio><span class="fontsize12px">Below Avg</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Aboveavg"></ion-radio><span class="fontsize12px">Above Avg</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.3) Attention:-</ion-label>
          <ion-radio-group value="Average" formControlName="ansdetailQ137">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Average"></ion-radio><span class="fontsize12px">Average</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Belowavg "></ion-radio><span class="fontsize12px">Below Avg</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Aboveavg"></ion-radio><span class="fontsize12px">Above Avg</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.4) Memory & Learning:-</ion-label>
          <ion-radio-group value="Average" formControlName="ansdetailQ138">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Average"></ion-radio><span class="fontsize12px">Average</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Belowavg "></ion-radio><span class="fontsize12px">Below Avg</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Aboveavg"></ion-radio><span class="fontsize12px">Above Avg</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.5) Motor Functioning:-</ion-label>
          <ion-radio-group value="Average" formControlName="ansdetailQ139">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Average"></ion-radio><span class="fontsize12px">Average</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Belowavg "></ion-radio><span class="fontsize12px">Below Avg</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Aboveavg"></ion-radio><span class="fontsize12px">Above Avg</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>

        <ion-item >
          <ion-label  position="stacked">Q.6) Eye Contact:-</ion-label>
          <ion-radio-group value="Maintains" formControlName="ansdetailQ140">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Maintains"></ion-radio><span class="fontsize12px">Maintains</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="NotMaintains"></ion-radio><span class="fontsize12px">Not Maintains</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>

        <ion-item >
          <ion-label  position="stacked">Q.7) Anxiety Levels:-</ion-label>
          <ion-radio-group value="High" formControlName="ansdetailQ141">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="High"></ion-radio><span class="fontsize12px">High</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Low"></ion-radio><span class="fontsize12px">Low</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.8) Get Frequently Angry:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ142">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.9) Hyper-Active:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ143">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.10) Communication Type:-</ion-label>
          <ion-radio-group value="Extrovert" formControlName="ansdetailQ144">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Extrovert"></ion-radio><span class="fontsize12px">Extrovert</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Introvert"></ion-radio><span class="fontsize12px">Introvert</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
       

                  <ion-item lines="none">
                    <ion-button class="centerblock" type="submit" color="tertiary" Expand="block"
                      size="default" (click)="submit()">Submit</ion-button>
                  </ion-item>
                </form>
        </ion-list>
        </div>
</ion-content>
