<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/memberdashboard"></ion-back-button>
      <p ><b>Medical Record</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="margintop20">
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">Physician</p>
        </ion-col>
        <ion-col size="2"   [routerLink]="['/medicalrecordsdetails','Physician']">
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">Eye</p>
        </ion-col>
        <ion-col size="2"   [routerLink]="['/medicalrecordsdetails','Eye']">
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">Dental</p>
        </ion-col>
        <ion-col size="2"  [routerLink]="['/medicalrecordsdetails','dental']">
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">Diet</p>
        </ion-col>
        <ion-col size="2"   [routerLink]="['/medicalrecordsdetails','diet']">
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">Mental Health</p>
        </ion-col>
        <ion-col size="2"   [routerLink]="['/medicalrecordsdetails','mentalhealth']">
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
