<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/memberdashboard"></ion-back-button>
      <p ><b>Plans</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="margintop10per">
   
  <ion-card class="boxshadowcard margintop10per cardheight cardbackground" *ngFor="let p of planlistdata">
    <ion-row >
      <ion-col  size="5">
        <img src="{{p.pa_plan_photo == undefined ? 'assets/imgs/imageplan.jpg' :(p.pa_plan_photo != '' ? producturl+p.pa_plan_photo:'assets/imgs/imageplan.jpg')}}" class="widthimage">
      </ion-col>
      <ion-col  size="7" >
        <p class="marginzero colorbrown colorgrey fontsize12px textaligncenter ">{{p.pa_plan_name}}</p>
        <p class="marginzero colorbrown colorgrey fontsize11px textaligncenter ">Rs{{p.pa_plan_price}}</p>
        <p class="marginzero colorbrown colorgrey fontsize9px textaligncenter " (click)="viewmore(p.pa_id)">View More</p>
        <div class="centerblock textaligncenter">
        <ion-button   color="tertiary" 
                      size="small" (click)="submit()">Buy Now</ion-button>
                    </div>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="paddingzero" *ngIf="tpskelton">
    <ion-row >
      <ion-col  size="5">
        <ion-skeleton-text  animated></ion-skeleton-text>
        </ion-col>
        <ion-col  size="7" >
          <p class="marginzero colorbrown colorgrey fontsize12px textaligncenter "><ion-skeleton-text  animated></ion-skeleton-text></p>
        <p class="marginzero colorbrown colorgrey fontsize11px textaligncenter "><ion-skeleton-text  animated></ion-skeleton-text></p>
        <p class="marginzero colorbrown colorgrey fontsize9px textaligncenter " ><ion-skeleton-text  animated></ion-skeleton-text></p>
        </ion-col>
        </ion-row>
  </ion-card>

</div>
</ion-content>
