.boxshadowcard{
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.margintop10per{
    margin-top: 15px;
}

ion-content {
    --ion-background-color: #faf4f4;
  }

.cardbackground{
    background-color: #fff;
border-radius: 8px;
}