<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      <p><b>Member Registration</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div>
      
      <ion-list padding>
        <form [formGroup]="DoctorregisterForm" >
        <ion-item>
          <ion-label  position="stacked">Name:-</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="name"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.name">
            <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-item >
            <ion-label  position="stacked">Parent Name</ion-label>
            <ion-input autocapitalize inputmode="text" formControlName="parentname"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.parentname">
              <ng-container *ngIf="parentname.hasError(error.type) && (parentname.dirty || parentname.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          <ion-item >
            <ion-label  position="stacked">School Name</ion-label>
            <ion-input autocapitalize inputmode="text" formControlName="schoolname"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.schoolname">
              <ng-container *ngIf="schoolname.hasError(error.type) && (schoolname.dirty || schoolname.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
        <ion-item >
          <ion-label  position="stacked">Age<ion-text color="danger">*</ion-text></ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="age"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.age">
            <ng-container *ngIf="age.hasError(error.type) && (age.dirty || age.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          
          <ion-item >
            <ion-label  position="stacked">Class</ion-label>
            <ion-input autocapitalize type="text" formControlName="class"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.class">
              <ng-container *ngIf="class.hasError(error.type) && (class.dirty || class.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
        <ion-list >
          <ion-label  position="stacked">Gender<ion-text color="danger">*</ion-text></ion-label>
          <ion-item  class="backgroundcolortransparent">  
          <ion-radio-group formControlName="gender">
            <ion-row >
              <ion-item lines="none">
                <ion-label>Male</ion-label>
                <ion-radio value="male"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label>Female</ion-label>
                <ion-radio value="female"></ion-radio>
              </ion-item>
            </ion-row>
          </ion-radio-group>
          </ion-item>
          </ion-list>
          <div *ngFor="let error of errorMessages.gender">
            <ng-container *ngIf="gender.hasError(error.type) && (gender.dirty || gender.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
        
          <ion-item >
            <ion-label  position="stacked">City</ion-label>
            <ion-input autocapitalize inputmode="text" formControlName="city" (ionInput)="FilterJsonData($event)" value="{{getcityname}}"></ion-input>
            </ion-item>
            <div *ngIf="cityliststatus">
            <ion-item (click)="getpincode(city.city_name)" *ngFor="let city of citylistdata | slice:0:2;" >{{city.city_name}}</ion-item>
            </div>
  
            <div *ngFor="let error of errorMessages.city">
              <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            
            
              
  
                       
                    <ion-item lines="none">
                      <ion-button class="centerblock" type="submit" color="tertiary" Expand="block"
                        size="default" (click)="submit()">Submit</ion-button>
                    </ion-item>
                    </form>
          </ion-list>
          </div>
        </ion-card>
</ion-content>
