<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      <p><b>Doctor Registration</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <div>
    
    <ion-list padding>
      <form [formGroup]="DoctorregisterForm" >
      <ion-item>
        <ion-label  position="stacked">Name:-</ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="name"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.name">
          <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      <ion-item >
        <ion-label  position="stacked">Age<ion-text color="danger">*</ion-text></ion-label>
        <ion-input autocapitalize inputmode="text" formControlName="age"></ion-input>
        </ion-item>
        <div *ngFor="let error of errorMessages.age">
          <ng-container *ngIf="age.hasError(error.type) && (age.dirty || age.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      <ion-list >
        <ion-label  position="stacked">Gender<ion-text color="danger">*</ion-text></ion-label>
        <ion-item  class="backgroundcolortransparent">  
        <ion-radio-group formControlName="gender">
          <ion-row >
            <ion-item lines="none">
              <ion-label>Male</ion-label>
              <ion-radio value="male"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Female</ion-label>
              <ion-radio value="female"></ion-radio>
            </ion-item>
          </ion-row>
        </ion-radio-group>
        </ion-item>
        </ion-list>
        <div *ngFor="let error of errorMessages.gender">
          <ng-container *ngIf="gender.hasError(error.type) && (gender.dirty || gender.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      
        <ion-item >
          <ion-label  position="stacked">City</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="city" (ionInput)="FilterJsonData($event)" value="{{getcityname}}"></ion-input>
          </ion-item>
          <div *ngIf="cityliststatus">
          <ion-item (click)="getpincode(city.city_name)" *ngFor="let city of citylistdata | slice:0:2;" >{{city.city_name}}</ion-item>
          </div>

          <div *ngFor="let error of errorMessages.city">
            <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          
          <ion-item >
            <ion-label  position="stacked">Pincode:-</ion-label>
            <div *ngIf="pincodeliststatus">
            <ion-select  formControlName="pincode" class="maxwidth">
              <ion-select-option *ngFor="let pincode of pincodelistdata" value="{{pincode.pincode}}">{{pincode.pincode}}
              </ion-select-option>
            </ion-select>
          </div>
          <div *ngIf="!pincodeliststatus">
              <p>Please Select City First</p> 
          </div>
            </ion-item>
            <div *ngFor="let error of errorMessages.pincode">
              <ng-container *ngIf="pincode.hasError(error.type) && (pincode.dirty || pincode.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            

            <ion-item >
              <ion-label  position="stacked">Mobile 1</ion-label>
              <ion-input autocapitalize type="number" formControlName="mobile1"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.mobile1">
                <ng-container *ngIf="mobile1.hasError(error.type) && (mobile1.dirty || mobile1.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>
            <ion-item >
              <ion-label  position="stacked">Mobile 2</ion-label>
              <ion-input autocapitalize type="number" formControlName="mobile2"></ion-input>
              </ion-item>
              <div *ngFor="let error of errorMessages.mobile2">
                <ng-container *ngIf="mobile2.hasError(error.type) && (mobile2.dirty || mobile2.touched)">
                  <small class="error-message">{{error.message}}</small>
                </ng-container>
              </div>

              <ion-item >
                <ion-label  position="stacked">Email</ion-label>
                <ion-input autocapitalize inputmode="email" formControlName="Email"></ion-input>
                </ion-item>
                <div *ngFor="let error of errorMessages.Email">
                  <ng-container *ngIf="Email.hasError(error.type) && (Email.dirty || Email.touched)">
                    <small class="error-message">{{error.message}}</small>
                  </ng-container>
                </div>

                <ion-item >
                  <ion-label  position="stacked">Experience</ion-label>
                  <ion-select formControlName="experience">
                    <ion-select-option value="0" selected>0</ion-select-option>
                    <ion-select-option value="6" selected>06</ion-select-option>
                    <ion-select-option value="1" selected>1</ion-select-option>
                    <ion-select-option value="2" >2</ion-select-option>
                    <ion-select-option value="3" >3</ion-select-option>
                    <ion-select-option value="4" >4</ion-select-option>
                    <ion-select-option value="5" >5</ion-select-option>
                    <ion-select-option value="6" >6</ion-select-option>
                    <ion-select-option value="7" >7</ion-select-option>
                    <ion-select-option value="8" >8</ion-select-option>
                    <ion-select-option value="9" >9</ion-select-option>
                    <ion-select-option value="10" >10</ion-select-option>
                    <ion-select-option value="11" >11</ion-select-option>
                    <ion-select-option value="12" >12</ion-select-option>
                    <ion-select-option value="13" >13</ion-select-option>
                    <ion-select-option value="14" >14</ion-select-option>
                    <ion-select-option value="15" >15</ion-select-option>
                    <ion-select-option value="16" >16</ion-select-option>
                    <ion-select-option value="17" >17</ion-select-option>
                    <ion-select-option value="18" >18</ion-select-option>
                    <ion-select-option value="19" >19</ion-select-option>
                    <ion-select-option value="20" >20</ion-select-option>
                    <ion-select-option value="21" >21</ion-select-option>
                    <ion-select-option value="22" >22</ion-select-option>
                    <ion-select-option value="23" >23</ion-select-option>
                    <ion-select-option value="24" >24</ion-select-option>
                    <ion-select-option value="25" >25</ion-select-option>
                    <ion-select-option value="26" >26</ion-select-option>
                    <ion-select-option value="27" >27</ion-select-option>
                    <ion-select-option value="28" >28</ion-select-option>
                    <ion-select-option value="29" >29</ion-select-option>
                    <ion-select-option value="30" >30</ion-select-option>
                    
                  </ion-select>
                  </ion-item>
                  <div *ngFor="let error of errorMessages.experience">
                    <ng-container *ngIf="experience.hasError(error.type) && (experience.dirty || experience.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                  <ion-item >
                    <ion-label  position="stacked">Speciality </ion-label>
                    <ion-select  formControlName="speciality" (ionChange)="getqualification($event)">
                      <ion-select-option *ngFor="let specility of specilitylistdata" value="{{specility.prov_type_code}}">{{specility.prov_type_name}}
                      </ion-select-option>
                    </ion-select>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.speciality">
                      <ng-container *ngIf="speciality.hasError(error.type) && (speciality.dirty || speciality.touched)">
                        <small class="error-message">{{error.message}}</small>
                      </ng-container>
                    </div>
                <ion-item >
                  <ion-label  position="stacked">Qualification</ion-label>
                  <div *ngIf="qualificationliststatus">
                  <ion-select  class="maxwidth" formControlName="qualification" placeholder="Please select Qualification" >
                    <ion-select-option *ngFor="let qualification of qualificationlistdata" value="{{qualification.qualific_code}}">{{qualification.qualific_name}} -{{qualification.qualific_desc}}
                    </ion-select-option>
                  </ion-select>
                </div>
                <div *ngIf="!qualificationliststatus">
                  <p>Please select Specility First</p>
                </div>
                  </ion-item>
                  <div *ngFor="let error of errorMessages.qualification">
                    <ng-container *ngIf="qualification.hasError(error.type) && (qualification.dirty || qualification.touched)">
                      <small class="error-message">{{error.message}}</small>
                    </ng-container>
                  </div>
                
              
                  <ion-item >
                    <ion-label  position="stacked">Clinic Name</ion-label>
                    <ion-input autocapitalize inputmode="text" formControlName="clinicname"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.clinicname">
                      <ng-container *ngIf="clinicname.hasError(error.type) && (clinicname.dirty || clinicname.touched)">
                        <small class="error-message">{{error.message}}</small>
                      </ng-container>
                    </div>

                    <ion-item >
                      <ion-label  position="stacked">Available for multi:-<ion-text color="danger">*</ion-text></ion-label>
                      <ion-select  multiple="true" formControlName="availablemulti" >
                        <ion-select-option *ngFor="let service of servicelistdata" value="{{service.id}}">{{service.mode}}
                        </ion-select-option>
                      </ion-select>
                      </ion-item>
                      <div *ngFor="let error of errorMessages.availablemulti">
                        <ng-container *ngIf="availablemulti.hasError(error.type) && (availablemulti.dirty || availablemulti.touched)">
                          <small class="error-message">{{error.message}}</small>
                        </ng-container>
                      </div>
  
                      <ion-item >
                        <ion-label  position="stacked">Bank Account Holder Name</ion-label>
                        <ion-input autocapitalize inputmode="text" formControlName="bankholdername"></ion-input>
                        </ion-item>
                        <div *ngFor="let error of errorMessages.bankholdername">
                          <ng-container *ngIf="bankholdername.hasError(error.type) && (bankholdername.dirty || bankholdername.touched)">
                            <small class="error-message">{{error.message}}</small>
                          </ng-container>
                        </div>

                      <ion-item >
                        <ion-label  position="stacked">Bank Account Number</ion-label>
                        <ion-input autocapitalize inputmode="text" formControlName="accountnumber"></ion-input>
                        </ion-item>
                        <div *ngFor="let error of errorMessages.accountnumber">
                          <ng-container *ngIf="accountnumber.hasError(error.type) && (accountnumber.dirty || accountnumber.touched)">
                            <small class="error-message">{{error.message}}</small>
                          </ng-container>
                        </div>

                        <ion-item >
                          <ion-label  position="stacked">Bank IFSC Code</ion-label>
                          <ion-input autocapitalize inputmode="text" formControlName="ifsccode"></ion-input>
                          </ion-item>
                          <div *ngFor="let error of errorMessages.ifsccode">
                            <ng-container *ngIf="ifsccode.hasError(error.type) && (ifsccode.dirty || ifsccode.touched)">
                              <small class="error-message">{{error.message}}</small>
                            </ng-container>
                          </div>

                        <ion-item >
                          <ion-label  position="stacked">Upi Pin</ion-label>
                          <ion-input autocapitalize inputmode="text" formControlName="upipin"></ion-input>
                          </ion-item>
                          <div *ngFor="let error of errorMessages.upipin">
                            <ng-container *ngIf="upipin.hasError(error.type) && (upipin.dirty || upipin.touched)">
                              <small class="error-message">{{error.message}}</small>
                            </ng-container>
                          </div>

                        <ion-item >
                          <ion-label  position="stacked">Remark</ion-label>
                          <ion-textarea formControlName="remark" ></ion-textarea>
                          </ion-item>
                         
                          <ion-item >
                            <p class="fontsize11px colordefault textaligncenter">Upload Photo</p>
                            <ion-button class="centerblock" (click)="selectImage()" color="tertiary">Upload</ion-button>
                          </ion-item>
                          <img src="{{imagepathurl}}" style="width: 102px;display: block;margin: auto;"/>
                  <ion-item lines="none">
                    <ion-button class="centerblock" type="submit" color="tertiary" Expand="block"
                      size="default" (click)="submit()">Submit</ion-button>
                  </ion-item>
                  </form>
        </ion-list>
        </div>
      </ion-card>
</ion-content>
