<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/memberdashboard"></ion-back-button>
      <p ><b>ChatBot</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
   
  <iframe frameborder="0" style="position: absolute;border: none;overflow:hidden;height:100%;width:100%" height="100%" width="100%"  src="https://console.dialogflow.com/api-client/demo/embedded/bcc8f721-d354-4fa0-b3f3-27a028739397"></iframe>
</div>
</ion-content>
