<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/memberdashboard"></ion-back-button>
      <p ><b>Query List</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="margintop20">
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">List 1</p>
        </ion-col>
        <ion-col size="2"   >
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">List 2</p>
        </ion-col>
        <ion-col size="2"   >
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">List 3</p>
        </ion-col>
        <ion-col size="2"  >
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">List </p>
        </ion-col>
        <ion-col size="2"   >
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="boxshadowcard" >
    <ion-grid>
      <ion-row>
        <ion-col size="10" >
              <p 
                class="colorblackcategory floatleft paddingzero marginzero fontsize15px  textaligncenter">List 5</p>
        </ion-col>
        <ion-col size="2"   >
         <img src="assets/imgs/arrowup.svg"  class="arrowup"/>
    </ion-col>
        
      </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
