.marginform{
    margin: 20px;
}


.imgwidth{
    width: 153px;
}

 


.backgroundcolortransparent{
    background-color: transparent;
}

.colorgrey{
    color: #C8CBCD;
}

.fontsize{
    font-size: 11px !important;
    text-transform: none!important;
}

.fontalignright{
    text-align: right !important;
}



ion-button{
    --border-radius: 7px !important;
}
.widthbutton{
    width: 189px;
    height: 29px;
}
.signincolor{
    color:   #747474;
}

.width35px{
    width: 35px;
}
.width35pxfloatright{
    width: 35px;
    float: right;
}

.item-native{
    background-color: transparent !important;
}
.item .item-input {
    background-color: transparent;
}
ion-item {
    --background: transparent;
  
}

.logincard{
    height: 65%;
    background-color: white;
    margin: 28px;
    border-radius: 13px;
}   
.margintopgrid{
    margin-top: 30px;
}
