<ion-content>
  <div class="positionabsolute">
    <img src="assets/imgs/appbackground.svg" style="position: absolute;width: 100%;"/>
   </div>
    <ion-list  class="marginform backgroundcolortransparent">
      <img src="assets/imgs/logo.jpeg" class="imgwidth backgroundcolortransparent"/>
    </ion-list>
  
    <ion-card class="logincard">
      <div>
    <ion-list  class="backgroundcolortransparent">
      <ion-grid>
      <ion-row> 
        <ion-col>
      <p class="colordefault marginzero fontsize13px"><b>Sign in</b></p>
    </ion-col>
    </ion-row>
  </ion-grid>
      <form [formGroup]="LoginForm" class="backgroundcolortransparent">
        <ion-list no-lines class="backgroundcolortransparent">
          <ion-grid class="backgroundcolortransparent">
            <ion-row class="backgroundcolortransparent"> 
              <ion-col class="backgroundcolortransparent">
          <ion-item class="backgroundcolortransparent">  
            <ion-label position="floating" class="colorsegment fontweightlight" *ngIf="roleapp == 'doctor'">Mobile Number</ion-label>
            <ion-label position="floating" class="colorsegment fontweightlight" *ngIf="roleapp == 'member'">Mid</ion-label>
            <ion-input autocapitalize inputmode="number" formControlName="mobile"></ion-input>
          </ion-item> 
          <div *ngFor="let error of errorMessages.mobile">
            <ng-container *ngIf="mobile.hasError(error.type) && (mobile.dirty || mobile.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          </ion-col>
          </ion-row>
            <ion-row class="backgroundcolortransparent"> 
              <ion-col class="backgroundcolortransparent">
          <ion-item class="backgroundcolortransparent">  
            <ion-label position="floating" class="colorsegment fontweightlight">Password</ion-label>
            <ion-input type="password" inputmode="password" formControlName="password"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.password">
            <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          </ion-col>
          </ion-row>
          </ion-grid>
          
        </ion-list> 
        <div class="textaligncenter">
        <ion-button  [disabled]="!LoginForm.valid"  class="widthbutton"  type="submit" shape="round" color="secondary" (click)="submit()" >Login </ion-button>
      </div>
      </form>
    </ion-list>
    
    <ion-list  class="marginzero  registercolor textaligncenter" *ngIf="roleapp == 'doctor'">
      <p class="signincolor marginzero fontsize11px">New To Educure?<u class=" marginzero fontsize13px " [routerLink]="['/doctorregistration']"><small class="fontsize13px">Click To Create Account.</small></u></p>
    </ion-list>
    <ion-list  class="marginzero  registercolor textaligncenter" *ngIf="roleapp == 'member'">
      <p class="signincolor marginzero fontsize11px">New To Educure?<u class=" marginzero fontsize13px " [routerLink]="['/studentregistration']"><small class="fontsize13px">Click To Create Account.</small></u></p>
    </ion-list>
    <ion-list  class="marginzero  registercolor textaligncenter">
      <p class="signincolor marginzero fontsize11px">{{locationCoords.latitude}}{{locationCoords.longitude}}</p>
    </ion-list>
  </div>
   </ion-card>
  
</ion-content>
