<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <p><b>Eye  </b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="borderstudentlist">
      <h3 class="textaligncenter fontsize15px"><u>Student Information</u></h3>
      <ion-row>
        <ion-col col-6> <p class="studentlist">Name/Id:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{firstname}} {{lastname}}/{{id}}</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><p class="studentlist">Class/Roll No/ Div:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{studentclass}}/{{studentrollno}}/{{studentdiv}}</p></ion-col>
      </ion-row>
    </div>
    <ion-list padding>
      <form [formGroup]="EyeForm" >
      <ion-item >
        <ion-label  position="stacked">Wears Glasses:-</ion-label>
        <ion-select value="No" formControlName="Glasses">
          <ion-select-option value="Yes" >Yes</ion-select-option>
          <ion-select-option value="No" >No</ion-select-option>
        </ion-select>
      </ion-item>

          <ion-item >
            <ion-label  position="stacked">Vision Right Eye:-</ion-label>
            <ion-grid>
            <ion-row>
              <ion-col size="6" class="max-width inputclass">
                <ion-input inputmode="decimal" placeholder="Enter Value"  formControlName="righteyeno" value="6"></ion-input>
          </ion-col>
              <ion-col  size="6" class="max-width inputclass">
                <ion-select class="marginauto" formControlName="righteyeno2" value="6">
                  <ion-select-option value="6" >6</ion-select-option>
                  <ion-select-option value="9" >9</ion-select-option>
                  <ion-select-option value="12" >12</ion-select-option>
                  <ion-select-option value="18" >18</ion-select-option>
                  <ion-select-option value="24" >24</ion-select-option>
                  <ion-select-option value="36" >36</ion-select-option>
                </ion-select>
          </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="max-width textaligncenter">
              <ion-label  position="stacked">Spherical:-</ion-label>
              <ion-input inputmode="decimal" placeholder="Enter Value" formControlName="spherical" value="6"></ion-input>
        </ion-col>
            <ion-col size="6" class="max-width textaligncenter">
              <ion-label  position="stacked">Cylindrical:-</ion-label>
              <ion-input inputmode="decimal" placeholder="Enter Value" value="6" formControlName="cylindrical" ></ion-input>
        </ion-col>
        </ion-row>
      </ion-grid>
            </ion-item>

            <ion-item >
              <ion-label  position="stacked">Vision Left Eye:-</ion-label>
              <ion-grid>
              <ion-row>
                <ion-col size="6" class="max-width inputclass">
                  <ion-input inputmode="decimal" placeholder="Enter Value" value="6" formControlName="lefteyeno" ></ion-input>
            </ion-col>
                <ion-col size="6" class="max-width inputclass">
                  <ion-select class="marginauto" formControlName="lefteyeno2" value="6">
                    <ion-select-option value="6" >6</ion-select-option>
                    <ion-select-option value="9" >9</ion-select-option>
                    <ion-select-option value="12" >12</ion-select-option>
                    <ion-select-option value="18" >18</ion-select-option>
                    <ion-select-option value="24" >24</ion-select-option>
                    <ion-select-option value="36" >36</ion-select-option>
                  </ion-select>
            </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="max-width textaligncenter">
                <ion-label  position="stacked">Spherical:-</ion-label>
                <ion-input inputmode="decimal" placeholder="Enter Value" value="6" formControlName="leftSpherical" ></ion-input>
          </ion-col>
              <ion-col size="6" class="max-width textaligncenter">
                <ion-label  position="stacked">Cylindrical:-</ion-label>
                <ion-input inputmode="decimal" placeholder="Enter Value" value="6" formControlName="leftcylindrical" ></ion-input>
          </ion-col>
          </ion-row>
        </ion-grid>
              </ion-item>
              <ion-item >
                <ion-radio-group value="Normal" formControlName="righteye">
                  <ion-list-header>
                    <ion-label>Colour Perception/Right Eye</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-label>Normal</ion-label>
                    <ion-radio slot="start" color="tertiary" value="Normal"  ></ion-radio>
                  </ion-item>
        
                  <ion-item>
                    <ion-label>AbNormal</ion-label>
                    <ion-radio slot="start" color="tertiary" value="AbNormal"  ></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-item>
              <ion-item >
                <ion-radio-group value="Normal" formControlName="lefteye" >
                  <ion-list-header>
                    <ion-label>Colour Perception/Left Eye</ion-label>
                  </ion-list-header>
                  <ion-item>
                    <ion-label>Normal</ion-label>
                    <ion-radio slot="start" color="tertiary" value="Normal" ></ion-radio>
                  </ion-item>
        
                  <ion-item>
                    <ion-label>AbNormal</ion-label>
                    <ion-radio slot="start" color="tertiary" value="AbNormal"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-item>
              <ion-item >
                <ion-label  position="stacked">Remark/Treatment Advised:-</ion-label>
                <ion-textarea formControlName="remark"></ion-textarea>
                </ion-item>
                
                  <ion-item lines="none">
                    <ion-button class="centerblock" type="submit" color="tertiary" Expand="block"
                      size="default"  (click)="submit()">Submit</ion-button>
                  </ion-item>
                </form>
        </ion-list>
        </div>
</ion-content>
