<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <p><b>Member Raise Query</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div>
      
      <ion-list padding>
        <form [formGroup]="QueryregisterForm" >
        <ion-item>
          <ion-label  position="stacked">Name:-</ion-label>
          <ion-input autocapitalize inputmode="text" formControlName="name"></ion-input>
          </ion-item>
          <div *ngFor="let error of errorMessages.name">
            <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          <ion-item >
            <ion-label  position="stacked">Email</ion-label>
            <ion-input autocapitalize inputmode="email" formControlName="email"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.email">
              <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
          <ion-item >
            <ion-label  position="stacked">Mobile Number</ion-label>
            <ion-input autocapitalize inputmode="text" formControlName="mobilenumber"></ion-input>
            </ion-item>
            <div *ngFor="let error of errorMessages.mobilenumber">
              <ng-container *ngIf="mobilenumber.hasError(error.type) && (mobilenumber.dirty || mobilenumber.touched)">
                <small class="error-message">{{error.message}}</small>
              </ng-container>
            </div>
            <ion-item >
              <ion-label  position="stacked">Description</ion-label>
              <ion-textarea formControlName="Description" ></ion-textarea>
              </ion-item>
          <div *ngFor="let error of errorMessages.Description">
            <ng-container *ngIf="Description.hasError(error.type) && (Description.dirty || Description.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
          
         
            
              
  
                       
                    <ion-item lines="none">
                      <ion-button [disabled]="!QueryregisterForm.valid" class="centerblock" type="submit" color="tertiary" Expand="block"
                        size="default" (click)="submit()">Submit</ion-button>
                    </ion-item>
                    </form>
          </ion-list>
          </div>
        </ion-card>
</ion-content>
