<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <p><b>Physician</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="borderstudentlist">
      <h3 class="textaligncenter fontsize15px"><u>Student Information</u></h3>
      <ion-row>
        <ion-col col-6> <p class="studentlist">Name/Id:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{firstname}} {{lastname}}/{{id}}</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><p class="studentlist">Class/Roll No/ Div:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{studentclass}}/{{studentrollno}}/{{studentdiv}}</p></ion-col>
      </ion-row>
    </div>
    <ion-list padding>
      <form [formGroup]="PhysicianForm" >
      <ion-item >
        <ion-label  position="stacked">Resp.rate/min:-</ion-label>
        <ion-select value="24" formControlName="resprate" (ionChange)="getweight($event)">
          <ion-select-option value="24" selected>24</ion-select-option>
          <ion-select-option value="23" selected>23</ion-select-option>
          <ion-select-option *ngFor="let item of createparticularRange(10,35); let currentElementIndex=index">{{currentElementIndex +10}}</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Height:-(Cms)<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="121" formControlName="height" (ionChange)="getheight($event)">
          <ion-select-option value="121" selected>121</ion-select-option>
          <ion-select-option value="122" selected>122</ion-select-option>
          <ion-select-option *ngFor="let item of createparticularRange(30,210); let currentElementIndex=index">{{currentElementIndex +30}}</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Weight:-(Kgs)<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="41" formControlName="weight">
          <ion-select-option value="41" selected>41</ion-select-option>
          <ion-select-option value="42" selected>42</ion-select-option>
          <ion-select-option *ngFor="let item of createparticularRange(5,120); let currentElementIndex=index">{{currentElementIndex +5}}</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">BMI</ion-label>
        <ion-input clearInput value="{{bmidata}}" readonly="" formControlName="bmi"></ion-input>
        </ion-item>

        <ion-item >
          <ion-label  position="stacked">Temprature:-(F)</ion-label>
          <ion-select value="98" formControlName="temp">
            <ion-select-option value="98" selected>98</ion-select-option>
            <ion-select-option value="99" selected>99</ion-select-option>
            <ion-select-option *ngFor="let item of createparticularRange(95,104); let currentElementIndex=index">{{currentElementIndex +95}}</ion-select-option>
          </ion-select>
          </ion-item>

          <ion-item >
            <ion-label  position="stacked">Blood Pressure:-</ion-label>
            <ion-grid>
            <ion-row>
              <ion-col size="6" >
            <ion-select value="80" class="max-width" formControlName="systolic">
              <ion-select-option value="80" selected>80</ion-select-option>
              <ion-select-option value="81" selected>81</ion-select-option>
              <ion-select-option *ngFor="let item of createparticularRange(60,120); let currentElementIndex=index">{{currentElementIndex + 60}}</ion-select-option>
            </ion-select>
          </ion-col>
              <ion-col size="6">
            <ion-select value="120" class="max-width" formControlName="diastolic">
              <ion-select-option value="120" selected>120</ion-select-option>
              <ion-select-option value="121" selected>121</ion-select-option>
              <ion-select-option *ngFor="let item of createparticularRange(75,200); let currentElementIndex=index">{{currentElementIndex + 75}}</ion-select-option>
            </ion-select>
          </ion-col>
          </ion-row>
        </ion-grid>
            </ion-item>


            <ion-item >
              <ion-label  position="stacked">Pulse:-(/min)</ion-label>
              <ion-select value="72" formControlName="pulse">
                <ion-select-option value="72" selected>72</ion-select-option>
                <ion-select-option value="73" selected>73</ion-select-option>
                <ion-select-option *ngFor="let item of createparticularRange(50,100); let currentElementIndex=index">{{currentElementIndex + 50}}</ion-select-option>
              </ion-select>
              </ion-item>


              <ion-item >
                <ion-label  position="stacked">Blood Groop:-<ion-text color="danger">*</ion-text></ion-label>
                <ion-select formControlName="bloodgp" value="NA">
                  <ion-select-option value="A+" >A+</ion-select-option>
                  <ion-select-option value="98" >A-</ion-select-option>
                  <ion-select-option value="B+" >B+</ion-select-option>
                  <ion-select-option value="B-" >B-</ion-select-option>
                  <ion-select-option value="AB+" >AB+</ion-select-option>
                  <ion-select-option value="AB-" >AB-</ion-select-option>
                  <ion-select-option value="O=" >O+</ion-select-option>
                  <ion-select-option value="O-" >O-</ion-select-option>
                </ion-select>
                </ion-item>


                <ion-item >
                  <ion-label  position="stacked">Blood Sugar:-(mg/dl)</ion-label>
                  <ion-select value="0" formControlName="bloodsugar">
                    <ion-select-option value="94" selected>94</ion-select-option>
              <ion-select-option value="95" selected>95</ion-select-option>
              <ion-select-option *ngFor="let item of createparticularRange(70,300); let currentElementIndex=index">{{currentElementIndex + 70}}</ion-select-option>
            </ion-select>
                 
                  </ion-item>

                  <ion-item lines="none">
                    <ion-button class="centerblock" type="submit" color="tertiary" Expand="block"
                      size="default" (click)="submit()">Submit</ion-button>
                  </ion-item>
                  </form>
        </ion-list>
        </div>
</ion-content>
