<ion-app>
  <ion-menu side="start" menuId="first" class="opacitymenu">
		<ion-content >
			<ion-button (click)="menuclose($event)" fill="clear" padding>
				<ion-icon slot="icon-only" name="md-close" class="colordefault"></ion-icon>
			</ion-button>
			<ion-grid padding>
				<ion-row >
					<ion-col size="6" >
						<img src="assets/imgs/johndeo.svg" class="imageround"/>
					</ion-col>  
					<ion-col size="6" >
						<p class="colordefault"><b>{{providername}}</b> </p>
						<p class="fontsize9px"> {{email}}</p> 
          </ion-col> 
				</ion-row>
      </ion-grid>
      <ion-menu-toggle >
      <hr class="hrbordermenu"/>
      <ion-row [routerLink]="['/myaccount']">
          <img src="assets/imgs/myaccount.svg" class="paddingleft"/>
          <p class="fontsize15px paddingleft"><b>My Account</b> </p>
        </ion-row>
        <hr class="hrbordermenu"/>
        <ion-row [routerLink]="['/medicalcamp']">
            <img src="assets/imgs/myfavvstore.svg" class="paddingleft"/>
            <p class="fontsize15px paddingleft"><b>Medical Camp</b> </p>
          </ion-row>
          <hr class="hrbordermenu"/>
          
          <ion-row [routerLink]="['/testingmedical']">
            <img src="assets/imgs/myaddress.svg" class="paddingleft"/>
              <p class="fontsize15px paddingleft"><b>Work Log</b> </p>
            </ion-row>
         
            <hr class="hrbordermenu"/>
            <ion-row [routerLink]="['/couponlist']">
                <img src="assets/imgs/coupons.svg" class="paddingleft"/>
                <p class="fontsize15px paddingleft"><b>Payment Details</b> </p> 
              </ion-row>
              <hr class="hrbordermenu"/>
            <ion-row (click)="LogOut()">
                <img src="assets/imgs/logout.svg" class="paddingleft"/>
                <p class="fontsize15px paddingleft"><b>Logout</b> </p>
              </ion-row>            
            </ion-menu-toggle>

            <!--<ion-menu-toggle >
              <hr class="hrbordermenu"/>
                        <ion-row [routerLink]="['/medicalrecordmember']">
                <img src="assets/imgs/myfavvstore.svg" class="paddingleft"/>
                <p class="fontsize15px paddingleft"><b>Medical Record</b> </p> 
              </ion-row> 
                    </ion-menu-toggle>-->
		</ion-content>
	</ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
