.imageround{
    width: 66px;
    height: 66px;
        border-radius: 50%;
    }
    
    .opacitymenu{
        opacity: 0.9;
    }
    
    .hrbordermenu{
        border: 0.1px solid #6441A5 !important;
        border-width: 0.01px !important;
        }
    
        .paddingleft{
            padding-left: 9px;
        }