<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/medicalrecordmember"></ion-back-button>
      <p ><b>Medical Record Details</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="textaligncenter fontsize16px">You Selected: <b>{{this.id}}</b></p>
  <div *ngIf="this.id == 'dental'">
    <ion-segment [(ngModel)]="medicalrecord">
      <ion-segment-button value="Information" class=" fontsize12px colorblue texttransform">
        Information
      </ion-segment-button>
      <ion-segment-button value="Assessment"   class=" fontsize12px colorblue texttransform">
        Assessment
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="medicalrecord">
      <ion-list *ngSwitchCase="'Information'" >
  <ion-card *ngFor="let r of recorddata;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize11px  fontfamilymon floatright">Date:{{r.Date}}</p>
        </ion-col>
       
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Decayed:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.decayed}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Missing:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.missing}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Fillingcrown:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.fillingcrown}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Gingiva/Colour:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.gingiva}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Appearance:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.appearance}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Event Date:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.event_date}}</b></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card  *ngIf="!recorddata?.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Information</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </ion-list>
  <ion-list *ngSwitchCase="'Assessment'" >
    <ion-card *ngFor="let reord of recorddataqueans;">
      <ion-grid *ngFor="let r of reord.valuedate;">
        <ion-row>
          <ion-col  size="12">
            <p class="marginzero   fontsize16px fontfamilymon">Q:{{r.que_detail}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  size="12">
            <p class="marginzero   fontsize16px fontfamilymon">A:{{r.ans_code}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card  *ngIf="!recorddataqueans?.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Assessment</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  </div>
</div>


<div *ngIf="this.id == 'Physician'">
  <ion-segment [(ngModel)]="medicalrecord">
    <ion-segment-button value="Information" class=" fontsize12px colorblue texttransform">
      Information
    </ion-segment-button>
    <ion-segment-button value="Assessment"   class=" fontsize12px colorblue texttransform">
      Assessment
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="medicalrecord">
    <ion-list *ngSwitchCase="'Information'" >
  <ion-card *ngFor="let r of recorddata;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize11px  fontfamilymon floatright">Date:{{r.entry_date}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Height(cms):</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.height}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Weight(kgs):</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.weight}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Bmi:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.bmi}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Pulse:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.pulse}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Respiratory:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.resprate}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Blood Group:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.bloodgp}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Event Date:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.event_date}}</b></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </ion-list>
  <ion-list *ngSwitchCase="'Assessment'" >
    <ion-card *ngFor="let reord of recorddataqueans;">
      <ion-grid *ngFor="let r of reord.valuedate;">
        <ion-row>
          <ion-col  size="12">
            <p class="marginzero   fontsize16px fontfamilymon">Q:{{r.que_detail}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  size="12">
            <p class="marginzero   fontsize16px fontfamilymon">A:{{r.ans_code}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card  *ngIf="!recorddataqueans?.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Assessment</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  </div>
</div>

<div *ngIf="this.id == 'Eye'">

  <ion-segment [(ngModel)]="medicalrecord">
    <ion-segment-button value="Information" class=" fontsize12px colorblue texttransform">
      Information
    </ion-segment-button>
    <ion-segment-button value="Assessment"   class=" fontsize12px colorblue texttransform">
      Assessment
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="medicalrecord">
    <ion-list *ngSwitchCase="'Information'" >
  <ion-card *ngFor="let r of recorddata;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize11px  fontfamilymon floatright">Date:{{r.infodata}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Wear Glasses:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.Glasses}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Vision Right eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.righteyeno}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Vision Left Eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.lefteyeno}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Color Perception Right Eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.righteye}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Color Perception Left Eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.lefteye}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Event date:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.event_date}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Remark:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.remark}}</b></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card  *ngIf="!recorddata?.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Information</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </ion-list>

  <ion-list *ngSwitchCase="'Assessment'" >
    <ion-card *ngFor="let reord of recorddataqueans;">
      <ion-grid *ngFor="let r of reord.valuedate;">
        <ion-row>
          <ion-col  size="12">
            <p class="marginzero   fontsize16px fontfamilymon">Q:{{r.que_detail}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col  size="12">
            <p class="marginzero   fontsize16px fontfamilymon">A:{{r.ans_code}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card  *ngIf="!recorddataqueans?.length > 0">
      <ion-grid>
        <ion-row>
          <ion-col>
            <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Assessment</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  </div>
</div>


<div *ngIf="this.id == 'diet'">
  <div >
    
  <ion-segment [(ngModel)]="medicalrecord">
    <ion-segment-button value="Information" class=" fontsize12px colorblue texttransform">
      Information
    </ion-segment-button>
    <ion-segment-button value="Assessment"   class=" fontsize12px colorblue texttransform">
      Assessment
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="medicalrecord">
    <ion-list *ngSwitchCase="'Information'" >
  <ion-card *ngFor="let r of recorddata;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize11px  fontfamilymon floatright">Date:{{r.datec}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Breakfast:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.Breakfast}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Lunch:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.lunch}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Evening:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.Evening}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Dinner:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.Dinner}}</b></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card  *ngIf="!recorddata?.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Information</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </ion-list>

  <ion-list *ngSwitchCase="'Assessment'" >
  <ion-card *ngFor="let reord of recorddataqueans;">
    <ion-grid *ngFor="let r of reord.valuedate;">
      <ion-row>
        <ion-col  size="12">
          <p class="marginzero   fontsize16px fontfamilymon">Q:{{r.que_detail}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12">
          <p class="marginzero   fontsize16px fontfamilymon">A:{{r.ans_code}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card  *ngIf="!recorddataqueans?.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Assessment</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </ion-list>
  </div>
</div>
</div>
<div *ngIf="this.id == 'mentalhealth'">
  <div >
  <!-- <ion-segment [(ngModel)]="medicalrecord">
    <ion-segment-button value="Information" class=" fontsize12px colorblue texttransform">
      Information
    </ion-segment-button>
    <ion-segment-button value="Assessment"   class=" fontsize12px colorblue texttransform">
      Assessment
    </ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="medicalrecord"> -->
    <!-- <ion-list *ngSwitchCase="'Information'" >
  <ion-card *ngFor="let r of recorddata;">
    <ion-grid>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Wear Glasses:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.Glasses}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Vision Right eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.righteyeno}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Vision Left Eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.lefteyeno}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Color Perception Right Eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.righteye}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Color Perception Left Eye:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.lefteye}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Event date:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.event_date}}</b></p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="6">
          <p class="marginzero  floatright fontsize16px fontfamilymon">Remark:</p>
        </ion-col>
        <ion-col  size="6">
          <p class="marginzero   fontsize16px  fontfamilymon"><b>{{r.remark}}</b></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </ion-list> -->

  <!-- <ion-list *ngSwitchCase="'Assessment'" > -->
  <ion-card *ngFor="let reord of recorddataqueans;">
    <ion-grid *ngFor="let r of reord.valuedate;">
      <ion-row>
        <ion-col  size="12">
          <p class="marginzero   fontsize16px fontfamilymon">Q:{{r.que_detail}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col  size="12">
          <p class="marginzero   fontsize16px fontfamilymon">A:{{r.ans_code}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card  *ngIf="!recorddataqueans?.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <p class="marginzero   fontsize13px  fontfamilymon  textaligncenter">There Is No Assessment</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <!-- </ion-list> -->
  <!-- </div> -->
</div>
</div>
</ion-content>
