<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/medicalcamp"></ion-back-button>
      <p><b>Diet </b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="borderstudentlist">
      <h3 class="textaligncenter fontsize15px"><u>Student Information</u></h3>
      <ion-row>
        <ion-col col-6> <p class="studentlist">Name/Id:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{firstname}} {{lastname}}/{{id}}</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><p class="studentlist">Class/Roll No/ Div:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{studentclass}}/{{studentrollno}}/{{studentdiv}}</p></ion-col>
      </ion-row>
    </div>
    <ion-list padding>
      <form [formGroup]="DietForm" >
      <ion-item >
        <ion-label  position="stacked">Height:-(Cms)<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="121" >
          <ion-select-option value="121" selected>121</ion-select-option>
          <ion-select-option value="122" selected>122</ion-select-option>
          <ion-select-option *ngFor="let item of createRange(200); let currentElementIndex=index">{{currentElementIndex}}</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Weight:-(Kgs)<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="41" >
          <ion-select-option value="41" selected>41</ion-select-option>
          <ion-select-option value="42" selected>42</ion-select-option>
          <ion-select-option *ngFor="let item of createRange(100); let currentElementIndex=index">{{currentElementIndex}}</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">BMI</ion-label>
        <ion-input clearInput value="224" readonly="" ></ion-input>
        </ion-item>
      <ion-item >
        <ion-label  position="stacked">Morning Breakfast:-</ion-label>
        <ion-select value="Milk" multiple="true" formControlName="Breakfast">
          <ion-select-option value="Milk" >Milk</ion-select-option>
          <ion-select-option value="Omlet" >Omlet</ion-select-option>
          <ion-select-option value="Egg" >Egg</ion-select-option>
          <ion-select-option value="Poha" >Poha</ion-select-option>
          <ion-select-option value="Upma" >Upma</ion-select-option>
          <ion-select-option value="Idli" >Idli</ion-select-option>
          <ion-select-option value="Dosa" >Dosa</ion-select-option>
          <ion-select-option value="Biscuit" >Biscuit</ion-select-option>
          <ion-select-option value="Tea" >Tea</ion-select-option>
          <ion-select-option value="Coffee" >Coffee</ion-select-option>
          <ion-select-option value="Drink" >Flavoured Nutrional Drink</ion-select-option>
          <ion-select-option value="Roti" >Roti</ion-select-option>
          </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Lunch:-<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="Roti" multiple="true" formControlName="lunch">
          <ion-select-option value="Roti" >Roti</ion-select-option>
          <ion-select-option value="Rice" >Rice</ion-select-option>
          <ion-select-option value="Sabji" >Sabji</ion-select-option>
          <ion-select-option value="Dal" >Dal</ion-select-option>
          <ion-select-option value="Fish" >Fish</ion-select-option>
          <ion-select-option value="Chicken" >Chicken</ion-select-option>
          <ion-select-option value="Meat" >Meat</ion-select-option>
          <ion-select-option value="Sweets" >Sweets</ion-select-option>
          <ion-select-option value="Pulses" >Pulses</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Evening:-<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="Milk" multiple="true" formControlName="Evening">
          <ion-select-option value="Milk" >Milk</ion-select-option>
          <ion-select-option value="Omlet" >Omlet</ion-select-option>
          <ion-select-option value="Egg" >Egg</ion-select-option>
          <ion-select-option value="Poha" >Poha</ion-select-option>
          <ion-select-option value="Upma" >Upma</ion-select-option>
          <ion-select-option value="Idli" >Idli</ion-select-option>
          <ion-select-option value="Dosa" >Dosa</ion-select-option>
          <ion-select-option value="Biscuit" >Biscuit</ion-select-option>
          <ion-select-option value="Tea" >Tea</ion-select-option>
          <ion-select-option value="Coffee" >Coffee</ion-select-option>
          <ion-select-option value="Drink" >Flavoured Nutrional Drink</ion-select-option>
          <ion-select-option value="Roti" >Roti</ion-select-option>
          <ion-select-option value="Paratha" >Paratha</ion-select-option>
          <ion-select-option value="Farshan" >Farshan</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Dinner:-<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="Roti" multiple="true" formControlName="Dinner">
          <ion-select-option value="Roti" >Roti</ion-select-option>
          <ion-select-option value="Rice" >Rice</ion-select-option>
          <ion-select-option value="Sabji" >Sabji</ion-select-option>
          <ion-select-option value="Dal" >Dal</ion-select-option>
          <ion-select-option value="Fish" >Fish</ion-select-option>
          <ion-select-option value="Chicken" >Chicken</ion-select-option>
          <ion-select-option value="Meat" >Meat</ion-select-option>
          <ion-select-option value="Sweets" >Sweets</ion-select-option>
          <ion-select-option value="Pulses" >Pulses</ion-select-option>
          <ion-select-option value="Khichdi" >Khichdi</ion-select-option>
          <ion-select-option value="Burger" >Burger</ion-select-option>
          <ion-select-option value="junkfood" >Junk Food</ion-select-option>
          <ion-select-option value="Farshan" >Farshan</ion-select-option>
        </ion-select>
        </ion-item>
         <p class="textaligncenter">Question And Answer</p>
         <ion-item >
          <ion-label  position="stacked">Q.1)Food Habbit Type:-</ion-label>
          <ion-radio-group value="Veg" formControlName="ansdetailQ30">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Veg"></ion-radio><span class="fontsize12px">Veg </span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Non Veg "></ion-radio><span class="fontsize12px">Non Veg</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Jain"></ion-radio><span class="fontsize12px">Jain </span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Eggetarian"></ion-radio><span class="fontsize12px">Eggetarian </span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.2) Carbohydrate Intake:-</ion-label>
          <ion-radio-group value="Adequate" formControlName="ansdetailQ120">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Adequate"></ion-radio><span class="fontsize12px">Adequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Inadequate "></ion-radio><span class="fontsize12px">Inadequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Normal"></ion-radio><span class="fontsize12px">More intake then required</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.3) Protein Intake:-</ion-label>
          <ion-radio-group value="Adequate" formControlName="ansdetailQ121">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Adequate"></ion-radio><span class="fontsize12px">Adequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Inadequate "></ion-radio><span class="fontsize12px">Inadequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Normal"></ion-radio><span class="fontsize12px">More intake then required</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.4) Fats Intake:-</ion-label>
          <ion-radio-group value="Adequate" formControlName="ansdetailQ122">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Adequate"></ion-radio><span class="fontsize12px">Adequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Inadequate "></ion-radio><span class="fontsize12px">Inadequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Normal"></ion-radio><span class="fontsize12px">More intake then required</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.5) Minerals Intake:-</ion-label>
          <ion-radio-group value="Adequate" formControlName="ansdetailQ123">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Adequate"></ion-radio><span class="fontsize12px">Adequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Inadequate "></ion-radio><span class="fontsize12px">Inadequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Normal"></ion-radio><span class="fontsize12px">More intake then required</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.6) Vitamin Intake:-</ion-label>
          <ion-radio-group value="Adequate" formControlName="ansdetailQ124">
          <ion-grid>
            <ion-row>
              <ion-col size="4"><ion-radio  color="tertiary" value="Adequate"></ion-radio><span class="fontsize12px">Adequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Inadequate "></ion-radio><span class="fontsize12px">Inadequate</span></ion-col>
              <ion-col size="4"><ion-radio  color="tertiary" value="Normal"></ion-radio><span class="fontsize12px">More intake then required</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>

        <ion-item >
          <ion-label  position="stacked">Q.7) Is Student Obese:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ125">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>

        <ion-item >
          <ion-label  position="stacked">Q.8) Is Student Undernourished:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ126">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.9) Is Student Overfed but undernourished:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ127">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked">Q.10) Is Fiber content in meals adequate:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ128">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked" >Q.11) Any other nutritional disease:-</ion-label>
          <ion-radio-group value="No" formControlName="ansdetailQ129">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No"></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked" >Q.12) No. of meals consumed in a day?:-</ion-label>
          <ion-radio-group value="2" formControlName="ansdetailQ31">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="2"></ion-radio><span class="fontsize12px">2</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="3"></ion-radio><span class="fontsize12px">3</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="4"></ion-radio><span class="fontsize12px">4</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="5"></ion-radio><span class="fontsize12px">5</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked" >Q.13) Daily Water Intake:-</ion-label>
          <ion-radio-group value="4" formControlName="ansdetailQ90">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="4"></ion-radio><span class="fontsize12px">4</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="8"></ion-radio><span class="fontsize12px">8</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked" >Q.14) Outdoor activity:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ400">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked" >Q.15) Body type:-</ion-label>
          <ion-radio-group value="Normal" formControlName="ansdetailQ225">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Thin"></ion-radio><span class="fontsize12px">Thin</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Normal"></ion-radio><span class="fontsize12px">Normal</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Healthy"></ion-radio><span class="fontsize12px">Healthy</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="Obese"></ion-radio><span class="fontsize12px">Obese</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        <ion-item >
          <ion-label  position="stacked" >Q.16) Junk Food Intake:-</ion-label>
          <ion-radio-group value="Yes" formControlName="ansdetailQ89">
          <ion-grid>
            <ion-row>
              <ion-col size="6"><ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">Yes</span></ion-col>
              <ion-col size="6"><ion-radio  color="tertiary" value="No "></ion-radio><span class="fontsize12px">No</span></ion-col>
            </ion-row>
          </ion-grid>
          </ion-radio-group>
          </ion-item>
        
       

                  <ion-item lines="none">
                    <ion-button class="centerblock" type="submit" color="tertiary" Expand="block"
                      size="default" (click)="submit()">Submit</ion-button>
                  </ion-item>
                </form>
        </ion-list>
        </div>
</ion-content>
