<ion-content>
  <div class="positionabsolute">
    <img src="assets/imgs/appbackground.svg" style="position: absolute;width: 100%;"/>
   </div>
  <div class="margintop5px">
  <ion-grid>
    <ion-row>
        <p class="textaligncenter centerblock">Are You?</p>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="textaligncenter" (click)="roleapp('member')">
        <img src="assets/imgs/member.png" />
      </ion-col>
      <ion-col size="6" class="textaligncenter" (click)="roleapp('doctor')">
        <img src="assets/imgs/doctor1.jpg" />
      </ion-col>
    </ion-row>
  </ion-grid>
<ion-grid>
  <ion-row>
    <ion-col size="6" class="textaligncenter" (click)="roleapp('member')">
      <p><u>Member</u></p>
    </ion-col>
    <ion-col size="6" class="textaligncenter" (click)="roleapp('doctor')">
      <p><u>Doctor</u></p>
    </ion-col>
  </ion-row>
</ion-grid>
</div>
</ion-content>
