<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <p ><b>Medical Camp</b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list padding>
      <form [formGroup]="MemberForm" >
      <ion-item lines="none">
        <ion-select placeholder="Select Entity" formControlName="entityid" class="maxwidth" #cat (ionChange)="getSubcat($event)"
          color="tertiary">
          <ion-select-option *ngFor="let school of schoollistdata" value="{{school.org_id}},{{school.from}},{{school.consultant_id}},{{school.event_id}}">{{school.organization_name}}
          </ion-select-option>
        </ion-select>
        <div *ngFor="let error of errorMessages.entityid">
          <ng-container *ngIf="entityid.hasError(error.type) && (entityid.dirty || entityid.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div>
      </ion-item>
      <div *ngIf="studentliststatus">
      <ion-item lines="none">
        <!-- <ion-select placeholder="Select Member Id" class="maxwidth" formControlName="memberid" 
          color="tertiary"   (ionChange)="studentcat($event)">
          <ion-select-option *ngFor="let student of studentlistdata" value="{{student.mid}},{{student.fname}},{{student.lname}},{{student.class}},{{student.roll_no}},{{student.division}}">{{student.fname}}{{student.lname}},{{student.mid}}
          </ion-select-option>
        </ion-select>
        <div *ngFor="let error of errorMessages.memberid">
          <ng-container *ngIf="memberid.hasError(error.type) && (memberid.dirty || memberid.touched)">
            <small class="error-message">{{error.message}}</small>
          </ng-container>
        </div> -->
        <ion-searchbar (ionInput)="FilterJsonData($event)"></ion-searchbar>
        
      </ion-item>
      <ion-item (click)="studentcat(student)" *ngFor="let student of studentlistdata | slice:0:5;" >{{student.mid}}|{{student.fname}} {{student.lname}}|{{student.roll_no}}|{{student.class}}|{{student.division}}</ion-item>
      <ion-item>
          You Selected : {{studentfirstname}} {{studentlastname}}
      </ion-item>
      <ion-item lines="none">
        <ion-button [disabled]="!submitbutton" class="centerblock" type="submit" color="tertiary" Expand="block"
          size="default" [routerLink]="['/testingform',studentid,specilitycode]">Submit</ion-button>
        
      </ion-item>
      
      </div>
    </form>
      </ion-list>
      </div>
      <div class="couponimage" *ngIf="schoolliststatus">
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="colorwhite textaligncenter headercopupon"><br>No School Found</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <div class="textaligncenter" >
    <ion-button  color="tertiary" class="fontsize11px texttransform">Add Member</ion-button>
    </div>
  </ion-toolbar>
</ion-footer> -->