/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";




.fontfamilymon{
    font-family: 'Montserrat' !important;
  }
  .colordefault{
      color: #6441A5 !important;
    }
  
    .colorblack{
      color: #000 !important;
    }
    .colorred{
      color: #BD0000 !important;
    }
    .colorgreen{
      color: #14AD03 !important;
    }
    .colorshipped{
      color: #964040 !important;
    }
    .colorwhite{
      color: #fff !important;
    }
    .colororange{
      color: orange !important;
    }
  
    .floatright{
      float:right !important;
  }
  
  .fontsize15px{
    font-size: 15px;
  }
  
  .fontsize11px{
    font-size: 11px !important;
  }
  .fontsize12px{
    font-size: 12px !important;
  }
  
  .fontsize13px{
    font-size: 13px !important;
  }
  .fontsize14px{
    font-size: 14px !important;
  }
  .fontsize16px{
    font-size: 16px !important;
  }
  .fontsize18px{
    font-size: 18px !important;
  }
  .fontsize25px{
    font-size: 25px !important;
  }
  .fontsize20px{
    font-size: 20px !important;
  }
  .fontsize9px{
    font-size: 9px !important;
  }
  .fontsize10px{
    font-size: 10px !important;
  }
  .fontsize7px{
    font-size: 7px !important;
  }
  .floatleft{
    float:left !important;
  }
  .fontweightlight{
    font-weight: lighter;
    }
    
    .fontweightbold{ 
        font-weight: bold;
    }
    .heightbitton{
      height: 46px !important; 
  }
  
  .textaligncenter{
    text-align: center !important;
  }
  
  .textalignleft{
    text-align: left !important;
  }
  .textalignright{
    text-align: right !important;
  }
  .borderradius{
    border-radius: 10px;
  }
  
  .centerblock{
    margin: auto !important;
    display: block !important;
  }
  
  .fontweight800{
    font-weight: 800;
  }   
  .texttransform{
    text-transform: none;
  }   
  
  .margintop{  margin-top: 0;}
  .marginzero{  margin: 0 !important;}
  .paddingzero{  padding: 0 !important;}
  
  .widthbutton{
    width: 180px;
  }
  
  .margintop15px{
    margin-top: 15px;
  }
  .marginbottom15px{
    margin-bottom: 15px;
  }
  
  .searchbar-input {
      background: #FFF !important;
      border-radius: 10px !important;
      height: 40px !important;
      max-width: 400px;
      font-size: 1.25em !important;
      border: 1px solid #6441A5 !important;
      --icon-color: #6441A5 !important;
  }
  
  .sc-ion-searchbar-md-h{
    --icon-color: #6441A5 !important;
    --placeholder-font-size: 7px !important;
    padding-top : 0px !important;
  
  }
  
  .textdecorationlinetrough{
    text-decoration: line-through !important;
  }

  .studentlist{
    margin: 0;
  padding: 0;
  font-size: 13px;
  text-align: center;
  }

  .borderstudentlist{
    border: 1px solid black;
    border-radius: 10px;
  }