<ion-header>
  <ion-toolbar>
    <ion-title>testingform</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="EyeForm" >
  <ion-item *ngFor="let question of questionlistdata">
    <ion-label  position="stacked">Q.) {{question.que_detail}}:-</ion-label>
    <div *ngFor="let answer of answerlistdata">
    <ion-radio-group  *ngIf="question.que_code == answer.que_code" formControlName="question.que_code">
    <ion-grid>
      <ion-row>
        <ion-radio  color="tertiary" value="Yes"></ion-radio><span class="fontsize12px">{{answer.ans_code}}</span>
      </ion-row>
    </ion-grid>
    </ion-radio-group>
  </div>
    </ion-item>
  </form>
</ion-content>
