<ion-header  >
	<ion-toolbar>
		<ion-buttons slot="start">
		</ion-buttons>
		<img src="assets/imgs/logo.jpeg" class="centerblock logoimage"/>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div>
	
	<p class="fontsize11px textaligncenter">Student Dashboard</p>
	<p class="fontsize13px textaligncenter colordefault" [routerLink]="['/medicalrecordmember']"><u>Click To Check Medical Record</u></p>
	<p class="fontsize13px textaligncenter colordefault" [routerLink]="['/planslist']"><u>Buy Now Plans</u></p> 
	<p class="fontsize13px textaligncenter colordefault" [routerLink]="['/chatbot']"><u>ChatBot</u></p>
	<p class="fontsize13px textaligncenter colordefault" [routerLink]="['/memberraisequery']"><u>Raise a query Form</u></p>
	<p class="fontsize13px textaligncenter colordefault" [routerLink]="['/memberraisequerylist']"><u>Raise a query list</u></p>
    <p class="fontsize13px textaligncenter colordefault" (click)="logout()"><u>Logout</u></p>
	</div>


	
</ion-content>
