<ion-header  >
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button autoHide="false" class="colordefault" *ngIf="roleapp == 'doctor'"></ion-menu-button>
		</ion-buttons>
		<img src="assets/imgs/logo.jpeg" class="centerblock logoimage"/>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


 
</ion-content>
