<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <p><b>Dental </b></p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="borderstudentlist">
      <h3 class="textaligncenter fontsize15px"><u>Student Information</u></h3>
      <ion-row>
        <ion-col col-6> <p class="studentlist">Name/Id:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{firstname}} {{lastname}}/{{id}}</p></ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6><p class="studentlist">Class/Roll No/ Div:</p></ion-col>
        <ion-col col-6><p class="studentlist">{{studentclass}}/{{studentrollno}}/{{studentdiv}}</p></ion-col>
      </ion-row>
    </div>
    <ion-list padding>
      <form [formGroup]="DentalForm" >
      <ion-item >
        <ion-label  position="stacked">Teeths Decayed:-</ion-label>
        <ion-select value="0" multiple="true" formControlName="decayed">
          <ion-select-option value="24" selected>24</ion-select-option>
          <ion-select-option value="23" selected>23</ion-select-option>
          <ion-select-option *ngFor="let item of createparticularRange(11,85); let currentElementIndex=index">{{currentElementIndex}}</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Missing:-<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="0" multiple="true" formControlName="missing">
          <ion-select-option value="121" selected>121</ion-select-option>
          <ion-select-option value="122" selected>122</ion-select-option>
          <ion-select-option *ngFor="let item of createparticularRange(11,85); let currentElementIndex=index">{{currentElementIndex}}</ion-select-option>
        </ion-select>
        </ion-item>

      <ion-item >
        <ion-label  position="stacked">Filling/Crown:-<ion-text color="danger">*</ion-text></ion-label>
        <ion-select value="0" multiple="true" formControlName="crown">
          <ion-select-option value="41" selected>41</ion-select-option>
          <ion-select-option value="42" selected>42</ion-select-option>
          <ion-select-option *ngFor="let item of createparticularRange(11,85); let currentElementIndex=index">{{currentElementIndex}}</ion-select-option>
        </ion-select>
        </ion-item>

        <ion-item >
          <ion-label  position="stacked">Gingivitis:-</ion-label>
          <ion-select value="No" formControlName="givingteath">
            <ion-select-option value="Yes" selected>Yes</ion-select-option>
            <ion-select-option value="No" selected>No</ion-select-option>
          </ion-select>
          </ion-item>

        <ion-item >
          <ion-label  position="stacked">Periodontitis:-</ion-label>
          <ion-select value="No" formControlName="appearance">
            <ion-select-option value="Yes" selected>Yes</ion-select-option>
            <ion-select-option value="No" selected>No</ion-select-option>
          </ion-select>
          </ion-item>

          <ion-item >
            <ion-label  position="stacked">Stain:-</ion-label>
            <ion-grid>
            <ion-row>
              <ion-col size="6" class="max-width">
                <ion-select class="maxwidth" value="Absent" formControlName="Stain">
                  <ion-select-option value="Present" selected>Present</ion-select-option>
                  <ion-select-option value="Absent" selected>Absent</ion-select-option>
                </ion-select>
          </ion-col>
              <ion-col size="6">
            <ion-select class="maxwidth" value="GradeIII"  formControlName="Stainsub">
              <ion-select-option value="GradeI" selected>GradeI</ion-select-option>
              <ion-select-option value="GradeII" selected>GradeII</ion-select-option>
              <ion-select-option value="GradeIII" selected>GradeIII</ion-select-option>
            </ion-select>
          </ion-col>
          </ion-row>
        </ion-grid>
            </ion-item>

          <ion-item >
            <ion-label  position="stacked">Calculus:-</ion-label>
            <ion-grid>
            <ion-row>
              <ion-col size="6" class="max-width">
                <ion-select class="maxwidth" value="Absent" formControlName="calculusteath">
                  <ion-select-option value="Present" selected>Present</ion-select-option>
                  <ion-select-option value="Absent" selected>Absent</ion-select-option>
                </ion-select>
          </ion-col>
              <ion-col size="6">
            <ion-select class="maxwidth" value="GradeIII"  formControlName="calculusteath2">
              <ion-select-option value="GradeI" selected>GradeI</ion-select-option>
              <ion-select-option value="GradeII" selected>GradeII</ion-select-option>
              <ion-select-option value="GradeIII" selected>GradeIII</ion-select-option>
            </ion-select>
          </ion-col>
          </ion-row>
        </ion-grid>
            </ion-item>

            <ion-item >
              <ion-label  position="stacked">Flurosis:-</ion-label>
              <ion-select value="No" formControlName="Flurosis">
                <ion-select-option value="Yes" selected>Yes</ion-select-option>
                <ion-select-option value="No" selected>No</ion-select-option>
              </ion-select>
              </ion-item>

              <ion-item >
                <ion-label  position="stacked">Malocclusion:-</ion-label>
                <ion-select value="No" formControlName="Malocclusion">
                  <ion-select-option value="Yes" selected>Yes</ion-select-option>
                  <ion-select-option value="No" selected>No</ion-select-option>
                </ion-select>
                </ion-item>
              <ion-item >
                <ion-label  position="stacked">Brushing Frequency:-</ion-label>
                <ion-select value="1" formControlName="brushingfrequency">
                  <ion-select-option value="1" selected>1</ion-select-option>
                  <ion-select-option value="2" selected>2</ion-select-option>
                  <ion-select-option value="3" selected>3</ion-select-option>
                </ion-select>
                </ion-item>
              <ion-item >
                <ion-label  position="stacked">Use of Mouth Wash:-</ion-label>
                <ion-select value="No" formControlName="mouthwash">
                  <ion-select-option value="Yes" selected>Yes</ion-select-option>
                  <ion-select-option value="No" selected>No</ion-select-option>
                </ion-select>
                </ion-item>
              <ion-item >
                <ion-label  position="stacked">Tooth Type:-</ion-label>
                <ion-select value="Normal" formControlName="toothtype">
                  <ion-select-option value="Sensitive" selected>Sensitive</ion-select-option>
                  <ion-select-option value="Normal" selected>Normal</ion-select-option>
                </ion-select>
                </ion-item>
                <ion-item >
                  <p class="fontsize11px colordefault textaligncenter">Upload Photo</p>
                  <ion-button class="centerblock" (click)="selectImage()" color="tertiary">Upload</ion-button>
                </ion-item>
                <img src="{{imagepathurl}}" style="width: 102px;"/>
                  <ion-item lines="none">
                    <ion-button class="centerblock" type="submit" color="tertiary" Expand="block"
                      size="default" (click)="submit()">Submit</ion-button>
                  </ion-item>
                  </form>
        </ion-list>
        
        </div>
</ion-content>
